<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Ecore GLSP Codegen" sequenceNumber="1582722292">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.20.0.v20190920-0401"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.17.0.v20190920-0401"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.20.0.v20191012-0918"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.700.v20191122-2104"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.19.0.v20190821-1536"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.600.v20191014-2025"/>
      <repository location="http://download.eclipse.org/releases/2019-12"/>
    </location>
  </locations>
</target>