<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Ecore GLSP Codegen" sequenceNumber="1610111520">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.23.0.v20200630-0516"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.20.0.v20200822-0801"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.23.0.v20200701-0840"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.1000.v20200828-1034"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.21.0.v20200708-0547"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.900.v20200819-0940"/>
      <unit id="com.ibm.icu" version="67.1.0.v20200706-1749"/>
      <repository location="http://download.eclipse.org/releases/2020-09"/>
    </location>
  </locations>
</target>
