<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Ecore GLSP Dev" sequenceNumber="1602578985">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.glsp.server" version="0.8.0.202010130847"/>
      <unit id="org.eclipse.glsp.graph" version="0.8.0.202010130847"/>
      <unit id="org.eclipse.glsp.layout" version="0.8.0.202010130847"/>
      <repository location="https://download.eclipse.org/glsp/server/p2/nightly/0.8/0.8.0.202010130847/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.core" version="0.6.0"/>
      <unit id="org.eclipse.elk.graph" version="0.6.0"/>
      <unit id="org.eclipse.elk.graph.text" version="0.6.0"/>
      <unit id="org.eclipse.elk.alg.layered" version="0.6.0"/>
      <repository location="https://download.eclipse.org/elk/updates/releases/0.6.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.22.0.v20200519-1135"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.19.0.v20200324-0932"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.22.0.v20200324-0947"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.900.v20200525-1407"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.20.0.v20200324-0932"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.800.v20200514-1529"/>
      <unit id="com.ibm.icu" version="64.2.0.v20190507-1337"/>
      <unit id="org.eclipse.emf.edit" version="2.16.0.v20190920-0401"/>
      <repository location="http://download.eclipse.org/releases/2020-06"/>
    </location>
  </locations>
</target>
