<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Ecore GLSP Dev" sequenceNumber="1612251271">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.glsp.feature.feature.group" version="0.8.0.202010130847"/>
      <unit id="org.eclipse.glsp.layout" version="0.8.0.202010130847"/>
      <repository location="https://download.eclipse.org/glsp/server/p2/nightly/0.8/0.8.0.202010130847/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.core" version="0.7.0"/>
      <unit id="org.eclipse.elk.graph" version="0.7.0"/>
      <unit id="org.eclipse.elk.graph.text" version="0.7.0"/>
      <unit id="org.eclipse.elk.alg.layered" version="0.7.0"/>
      <repository location="https://download.eclipse.org/elk/updates/releases/0.7.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="ch.qos.logback.slf4j" version="1.2.3.v20200428-2012"/>
      <unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
      <unit id="org.mockito" version="2.23.0.v20200310-1642"/>
      <unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
      <unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
      <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
      <unit id="javax.servlet" version="3.1.0.v201410161800"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emfcloud.modelserver.feature.feature.group" version="0.7.0.202102011650"/>
      <repository location="https://download.eclipse.org/emfcloud/modelserver/p2/nightly/0.7/0.7.0.202102011650/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.emfjson.jackson" version="0.0.0"/>
      <repository location="http://ghillairet.github.io/p2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.server" version="9.4.34.v20201102"/>
      <repository location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.34.v20201102/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.23.0.v20200630-0516"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.20.0.v20200822-0801"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.23.0.v20200701-0840"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.1000.v20200828-1034"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.21.0.v20200708-0547"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.900.v20200819-0940"/>
      <unit id="com.ibm.icu" version="67.1.0.v20200706-1749"/>
      <unit id="org.eclipse.emf.edit" version="2.16.0.v20190920-0401"/>
      <repository location="http://download.eclipse.org/releases/2020-09"/>
    </location>
  </locations>
</target>
