<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Ecore GLSP Codegen" sequenceNumber="1634919274">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.24.0.v20210405-0628"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.22.0.v20210319-0732"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.26.0.v20210506-1425"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.1300.v20210602-1312"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.22.0.v20210420-0623"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1200.v20210527-0259"/>
      <unit id="com.ibm.icu" version="67.1.0.v20200706-1749"/>
      <repository location="http://download.eclipse.org/releases/2021-06"/>
    </location>
  </locations>
</target>
