<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/org.eclipse.emfcloud.ecore.modelserver.product"/>
    <booleanAttribute key="default" value="true"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-org.eclipse.emfcloud.ecore.modelserver.product"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.emfcloud.ecore.modelserver.app.product"/>
    <setAttribute key="selected_features">
        <setEntry value="org.eclipse.core.runtime.feature:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore:default"/>
        <setEntry value="org.eclipse.emf.codegen:default"/>
        <setEntry value="org.eclipse.emf.common:default"/>
        <setEntry value="org.eclipse.emf.ecore:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.codegen.feature:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.glsp.feature:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.modelserver.feature:default"/>
        <setEntry value="org.eclipse.equinox.core.feature:default"/>
        <setEntry value="org.eclipse.equinox.executable:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.google.gson*2.7.0.v20170129-0911@default:default"/>
        <setEntry value="com.google.gson*2.8.2.v20180104-1110@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.inject.multibindings@default:false"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.websocket@default:default"/>
        <setEntry value="net.bytebuddy.byte-buddy-agent@default:default"/>
        <setEntry value="net.bytebuddy.byte-buddy@default:default"/>
        <setEntry value="org.antlr.runtime@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.commons.cli@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.elk.alg.common@default:default"/>
        <setEntry value="org.eclipse.elk.alg.layered@default:default"/>
        <setEntry value="org.eclipse.elk.core@default:default"/>
        <setEntry value="org.eclipse.elk.graph.text@default:default"/>
        <setEntry value="org.eclipse.elk.graph@default:default"/>
        <setEntry value="org.eclipse.emf.ant@default:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.codegen@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.client@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.common@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.edit@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.emf@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.lib@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.ds@1:true"/>
        <setEntry value="org.eclipse.equinox.launcher.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.glsp.graph@default:default"/>
        <setEntry value="org.eclipse.glsp.layout@default:default"/>
        <setEntry value="org.eclipse.glsp.server@default:default"/>
        <setEntry value="org.eclipse.jdt.core@default:default"/>
        <setEntry value="org.eclipse.jdt.debug@default:default"/>
        <setEntry value="org.eclipse.jdt.launching@default:default"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc@default:default"/>
        <setEntry value="org.eclipse.lsp4j@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.xtend.lib.macro@default:default"/>
        <setEntry value="org.eclipse.xtend.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.util@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.eclipse.xtext@default:default"/>
        <setEntry value="org.emfjson.jackson@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.hamcrest.integration@default:default"/>
        <setEntry value="org.hamcrest.library@default:default"/>
        <setEntry value="org.hamcrest.text@default:default"/>
        <setEntry value="org.hamcrest@default:default"/>
        <setEntry value="org.objenesis@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.emfcloud.ecore.backend.app@default:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.glsp.app@default:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.glsp@default:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.modelserver.app@default:default"/>
        <setEntry value="org.eclipse.emfcloud.ecore.modelserver@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
